@import '../utils/variables.scss';

.link {
  text-align: center;
}
.lien {
  text-align: center;
  padding: 10px 35px;
  border-radius: 10px;
  font-size: 25px;
  color: $white;
  text-decoration: none;
  background-color: $color-border;
  border-bottom: 5px solid $color-primaire;

  transition: all 0.1s;
}
.lien:active {
  transform: translate(0px, 2px);
  border-bottom: 1px solid;
}
