@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.formulaire {
  height: 1100px;
  text-align: center;
  margin-top: 40px;
  background-color: $color-border;
  width: 60%;
  margin: 0 auto;
  border-radius: 60px;
  @include large {
    width: 90%;
  }
}

.css-b62m3t-container {
  width: 280px;
  margin: 0 auto;
}
input {
  margin-top: 5px;
  width: 280px;
  min-height: 38px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: hsl(0, 0%, 80%);
  background-color: hsl(0, 0%, 100%);
}
p {
  margin-top: 3px;
  margin-bottom: 0;
}
.error {
  color: red;
  font-size: 14px;
  font-weight: 500;
}
fieldset {
  width: 288px;
  margin: 0 auto;
  margin-top: 10px;
}
.submit {
  margin-top: 40px;
  background-color: $color-border;
  height: 60px;
  border-radius: 20px;
  border-color: black 2px;
  color: white;
  font-size: 30px;
  border-bottom: 5px solid rgb(201, 199, 199);

  transition: all 0.1s;
}
.submit:active {
  transform: translate(0px, 2px);
  border-bottom: 1px solid;
}
.alert {
  background-color: aqua;
}
.block {
  display: flex;
  flex-direction: column;
  width: 290px;
  margin: 0 auto;
}
