@import '../utils/variables.scss';

.formulaire {
    height: 1000px;
    text-align: center;
    margin-top: 40px;
    background-color: $color-border;
    width: 90%;
    margin: 0 auto;
    border-radius: 60px;
}

.css-b62m3t-container {
    width: 300px;
    margin: 0 auto;
}
input {
    margin-top: 5px;
    width: 300px;
    min-height: 38px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: hsl(0,0%,80%);
    background-color: hsl(0,0%,100%);
}
p {
    margin-top: 3px;
    margin-bottom: 0;
}
fieldset {
    width: 360px;
    margin: 0 auto;
    margin-top: 10px
}
.submit {
    margin-top: 40px;
    background-color: $color-primaire;
    height: 60px;
    border-radius: 20px;
    border-color: black;
    
}