@import './components/header.scss';
@import './components/buttonCurrent.scss';

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.formulaire {
    text-align: center;
    margin-top: 40px;
    background-color: $color-border;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
}
h1 {
    font-size: 40px;
    color: $white;
}