@import './components/header.scss';
@import './components/buttonCurrent.scss';
@import './components/formulaire.scss';

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    height: 1200px;
}
h1 {
    font-size: 40px;
    color: $white;
}