@import './components/header.scss';
@import './components/buttonCurrent.scss';
@import './components/formulaire.scss';
@import './components/currentEmployees.scss';
@import './components/error404.scss';

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    height: 1200px;
}
h1 {
    font-size: 40px;
    color: $white;
    padding-top: 30px;
    margin-bottom: 5px;
}